.header {
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.link {
  display: block;
  padding: 8px 16px;
  border: solid 1px #fff;
  border-radius: 5px;
  transition: all 0.3s;
}
.link:hover {
  background-color: #fff;
  color: #000;
}

@media screen and (max-width: 768px) {
  .header {
    flex-wrap: wrap;
    padding: 1rem 10px;
  }
  .link {
    width: 100px;
  }
}
